// Global default params, used in configs
params {

    // Input options
    n_jobs                     = 10
    ref                        = null
    outdir                     = null

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
// process.shell = ['/bin/bash', '-euo', 'pipefail']

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Local Profiles

profiles {
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        conda.createTimeout = '2 h'
        conda.createOptions = '-c bioconda -c conda-forge'
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    // Harmony
    harmony {
        process {
            executor = "k8s"
        }
        docker {
            enabled = true
        }
        executor {
            queueSize = 1000
        }
        k8s {
            namespace = "$NXF_K8S_POD_NAMESPACE"
            serviceAccount = "$NXF_K8S_POD_SERVICE_ACCOUNT"

            pod = [
                volumeClaim: "$NXF_K8S_STORAGE_CLAIM_NAME",
                mountPath: "$NXF_K8S_STORAGE_MOUNT_PATH"
            ]

            imagePullPolicy = 'IfNotPresent'
            computeResourceType = 'Job'

            debug {
                yaml = true
            }

            cleanup = true
        }
    }
}

manifest {
    name            = 'baldikacti/harmony-cpu-test'
    author          = """Berent Aldikacti"""
    homePage        = 'https://github.com/baldikacti/harmony-cpu-test'
    description     = """Harmony CPU stress test"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.0'
}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
